@charset "utf-8";

html{height: calc(100% - 5px)!important;width: 100%;background:url(../img/main_back.png);background-size:100% 100%;}
#app{height:100%;width: 100%;background:url(../img/main_back.png);background-size:100% 100%;}
	#header{ width:100%;height: 100%;}
	/*菜单区*/
	#header .conent{padding-left:550px;background: #102b78 url(../img/title.png?v=201809211619107) no-repeat;width: 100%;height:65px;}
	/*ul>li*/
	#header .conent .menu{width:60px;height: 60px;background-size:100% 100%;float:left;margin-left:10px;cursor: pointer;position: relative;}
	/*li>div文字说明*/
	#header .conent .explain{font-size:12px;padding-top:42px;text-align: center;color:#fff;}
	/*下拉列表*/
	#header .menu_nav{width:130px;background:#102b78;border-radius:0 0 0 15px;z-index: 1000 !important;box-shadow: 5px 5px 5px #102b91;}
	/*下拉列表中的li*/
	#header .conent .menu .menu_nav .menu_nav_1{line-height: 36px;font-size: 12px;color:#fff;padding-left:10px;position: relative;z-index: 1000 !important;opacity: 1;background:#102b78;}
	/*下拉列表中的li(最后一个)*/
	#header .conent .menu .menu_nav li:last-of-type{border-radius:0 0 0 15px;}
	/*下拉列表中li中的div*/
	#header .conent .menu .menu_nav .menu_nav_1 .menu_nav_1_child{}
	/*tabs*/
	#header .tabs{width: 100%;height:calc(100% - 65px);z-index:0;}/*tabs*/


	.is-active{
		color:yellow !important;font-size: 13px !important;display: block !important;
	}


/*--------------------------------------------------------------------------------------------*/
/*自定义tabs*/
	#header .wp_tabs{width: 100%;height:calc(100% - 65px);z-index:0;background-image:url(../img/main_back.png);background-size:100% 100%;}
	/*tabs父级div*/
	#header .wp_tabs .wp_tabs_1{width: 100%; height:34px;background:#102b78;padding-top:7px;overflow:hidden;}
	/*tabs下的ul*/
	#header .wp_tabs .wp_tabs_1 .tabs_ul{height:100%;width: 1000%;}
	/*tabs标签内容*/
	#header .wp_tabs .wp_tabs_1 .tabs_li{width:140px; height:100%;font-size: 12px; padding: 0 0px 0 20px;line-height: 25px;color:#fff;margin:0;border:0;background-image: url(../img/tabs/tab_panel_item_back.png);background-size:100% 100%;margin-left:-8px;position: relative;float:left;cursor: pointer;}
	/*第一个tabs*/
	#header .wp_tabs .wp_tabs_1 .tabs_ul > li:first-child{background:url(../img/tabs/tab_item_first_back.png)no-repeat !important; background-size:100% 100%;margin:0 -10px 0 0 ;}
	/*tabs标签内的关闭按钮*/
	#header .wp_tabs .wp_tabs_1 .tabs_li > i{position: absolute;right: 15px;color:#d00;cursor: pointer;}
	#header .wp_tabs .wp_tabs_1 .tabs_li > i:hover{font-size: 16px;color:orange;font-weight:900;}
    #header .wp_tabs .wp_tabs_con{width: 100%;height: calc(100% - 34px);}
	
/*鼠标右键菜单样式*/
	#rightBtnMenu{background: #ccc;position: absolute;}
	#rightBtnMenu > ul{}
	#rightBtnMenu > ul > li{font-size: 12px;line-height: 24px;color:#333;padding:0 10px 0 20px;cursor:pointer;}
	#rightBtnMenu > ul > li:hover{background: blue;}


