@charset 'utf-8';

html,body{background:url(../images/main_back.png);background-size:100% 100%;height:calc(100% - 24px)!important;}
#app{height: 100%;width: 100%;padding:20px;/*background:url(../images/main_back.png);background-size:100% 100%;*/box-sizing:border-box;}
#select{height: 100%;width: 100%;}
/*下拉框最外层*/
#select .select_top{width: 100%;height:100px;margin-bottom:10px; background-image: url(../images/float_item_content_back.png?v=1.0);background-size:100% 100%;padding: 0 15px;}

/*#select .select_top .select_item{padding: 10px 20px 0 0;height: 40px;color:#bad9fb;font-size: 12px;line-height:30px;float:left;}*/
/*label标签*/
#select .form-group .font-noraml{font-size: 12px;color:#bad9fb;line-height: 30px;height: 30px;float:left;padding-right:4px;}
/*下拉框最外层div*/
#select .select_top .select_item .input-group{width: 150px;height: 30px;border:0;border-radius:0;background: #102b78 !important;float:left;position: relative;}



/*时间选择框*/
    #select .select_top .select_item .time_label{font-size: 12px;color:#bad9fb;}
    #select .select_top .select_item > input{background:#204474;color:#bad9fb;position: relative;width: 130px;height: 30px;}















