@charset 'utf-8';

html,body{background:url(../images/main_back.png);background-size:100% 100%;height:calc(100% - 24px)!important;}
#app{height: 100%;width: 100%;padding:20px;background:url(../images/main_back.png);background-size:100% 100%;box-sizing:border-box;}
#select{height: 100%;width: 100%;}
/*下拉框最外层*/
#select .select_top{width: 100%;height:100px;margin-bottom:10px; background-image: url(../images/float_item_content_back.png?v=1.0);background-size:100% 100%;padding: 0 15px;}

#select .select_top .select_item{padding: 10px 20px 0 0;height: 40px;/*display: inline-block;*/color:#bad9fb;font-size: 12px;line-height:30px;float:left;}
/*label标签*/
#select .select_top .select_item .font-noraml{font-size: 12px;color:#bad9fb;line-height: 30px;height: 30px;float:left;padding-right:4px;}

/*时间选择框*/
    #select .select_top .select_item .time_label{font-size: 12px;color:#bad9fb;}

/*查询导出按钮*/
        #select .select_top .select_btn{padding: 10px 20px 0 0;height: 40px;color:#bad9fb;font-size: 12px;line-height:30px;float:left;}
        #query_derive,#query_btns{font-size:14px;color:#bad9fb;border: 0;padding:10px;}
        #query_derive{background:url(../images/bt-blue.png);background-size:100% 100%;}
        #query_btns{background:url(../images/bt-green.png);background-size:100% 100%;margin-left:3px;}
        #query_derive > i{font-size:14px;color:#bad9fb;}
        #query_btns > i{font-size:14px;color:#bad9fb;}
        #select .select_top .select_btn .select_query_btn:hover{font-size:13px;cursor: pointer;}

/*切换按钮样式*/
    #select .show_tabs_row{padding-left:15px;line-height: 25px;border-bottom:1px solid #bad9fb;}/*p标签*/
    #select .show_tabs_row .show_tabs_span{font-size: 16px;color:#bad9fb;border:1px solid #fff;cursor: pointer;border-bottom:0;padding:0 15px;display: inline-block;}/*总在线率为*/

/*表格样式*/
    /*表格外层div*/
    #app .curveDiv{width: 100%;height:calc(100% - 126px);padding-top: 20px;}
  










